@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800;900&display=swap');

:root{
  --urlImageHome1: 'https://images8.alphacoders.com/133/1330107.png'
  --urlImageHome2: 'https://images.alphacoders.com/132/1327530.jpeg'
}

html ::-webkit-scrollbar {
  width: 10px;
}
html ::-webkit-scrollbar-thumb {
  background: #fd9833;
}

html{
  width: 100%;
  min-height: 100%;
  color: #000;
  font-family: 'Poppins', sans-serif;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul{
  list-style: none;
}
a{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
/*        Header           */
.header-container{
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}
.header-container a:hover{
  cursor: pointer;
  color: #fd9833;
}

.header-container .header-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header-bar .header_logo{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bar .header_logo img{
  height: 4rem;
}
.header-bar .header_logo span a{
  text-decoration: none;
  color: #000;
}
.header-bar .header_logo span a:hover{
  cursor: pointer;
  color: #fd9833;
}

.header-bar .header_search{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.header_search .search__box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-radius: 24px;
  border: 1px solid #efefef;
  height: 40px;
  transition: .2s all;
  position: relative;
  background-color: #efefef;
}


.header_search .search__box #search-input{
  width: 90%;
  height: 100%;
  border-radius: 24px;
  border: 0;
  padding: 0 .5rem 0;
  background-color: transparent;
}
input {
  border-radius: 8px;
  outline: none;
  overflow: visible;
}

.header-bar .header_main_menu{
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header_main_menu a{
  color: #000;
}

.header-bar .header_socials{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_socials .socials{
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;

  padding-left: 0px !important;
  margin-bottom: 0px !important;
}

.header-bar .header_accont{
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #000;
  z-index: 100000;
}

.header-bar .header_accont button{
  position: absolute;
  border: 0px;
  background-color: inherit;
}
.header-bar .header_accont button i{
  font-size: 1.5rem;
}

.header-bar .header_accont .accont_popver_items_hiden{
  width: 7.6rem;
  height: 6rem;
  position: relative;
  top: 6rem;
  display: flex;
  justify-content: center;
  background-color: #FFFF;
  box-shadow: rgb(0 0 0 / 20%) 0px 7px 36px -8px;
  border-radius: .5rem;
}
.accont_popver_items_show{
  display: none;
}

.header_accont .accont_popver_items_hiden .accont_popver_items_list{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0px !important;
  margin-bottom: 0px !important;
  font-family: 'Poppins', Arial, sans-serif;
}
.accont_popver_items_hiden .accont_popver_items_list li{
  width: 100%;
  border-bottom: 1px solid rgba(4, 4, 5, 0.1);
}


.accont_popver_items_list li a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  white-space: nowrap;
  text-align: right;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  line-height: 1rem;
  padding: .5rem 1rem;
  font-family: 'Poppins';
  border-radius: .5rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 7px 36px -8px;
}
.accont_popver_items_list li a:hover{
    cursor: pointer;
    color: #fd9833;
}


/*        Main         */
.main_container{
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-image: url('https://images.alphacoders.com/132/1327530.jpeg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #FFFF;
}
.main_container h1{
  width: 100%;
  font-size: 4.8rem;
  letter-spacing: .625rem;
  padding: 3rem 0;
  text-transform: uppercase;
  text-align: center;
}
.main_container .main_info_gaming{
  max-width: 44rem;
  text-align: justify;
}
.main_container .btn input[type='button']{
  font-family: 'Poppins', 'Segoe UI', sans-serif;
  font-size: 1rem;
  width: 12rem;
  height: 2rem;
  border: none;
  border-radius: .2rem;
  margin-top: 1rem;
  padding: 0 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
.main_container .btn #btnStem{
  background-color: inherit;
  color: #FFFF;
  border: solid;
}
.btn a #btnStem:hover{
  cursor: pointer;
  background-color: #FFFF;
  color: #000;
  border: none;
}

.main_container .btn #btnYouGame{
  background-color: #3f42a8;
  color: #FFFF;
}
.btn a #btnYouGame:hover{
  cursor: pointer;
  background-color: inherit;
  color: #fff !important;
  border: solid;
}

/* https://i.pinimg.com/originals/dc/39/16/dc3916a04792b84ce3d024f32fe91930.jpg */







/*        Games         */
main .games_list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.games_list .games_add_game{
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /*display: none;*/
}
.games_list .games_add_game input.btn_add_game{
  width: 10rem;
  border: solid #3f42a8;
  border-radius: .5rem;
  background-color: inherit;
}
.games_list .games_add_game input.btn_add_game:hover{
  cursor: pointer;
  background-color: #3f42a8;
  color: #FFFF;
}

.games_list .cards_games_list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards_games_list .card_game{
  width: 16rem;
  margin: 1rem 1rem;
  position: relative;
  border-radius: 1rem;
  box-shadow: rgb(0 0 0 / 50%) 0px 7px 36px -8px;
  z-index: 1;
  overflow: hidden;
  transition: all 0.4s ease;
}
.cards_games_list .card_back {
  width: 16rem;
  height: 32.375rem;
  margin: 1rem 1rem;
  border-radius: 1rem;
  box-shadow: rgb(0 0 0 / 50%) 0px 7px 36px -8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 5.8rem;
  z-index: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}
.card_back {
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}
.card_face.active .card_game{
  transform: rotateY(180deg);
  z-index: 0;
}

.card_face.active .card_back {
  transform: rotateX(0);
  z-index: 1;
}

.cards_games_list .card_game .card_image{
  width: 100%;
  height: 22rem;
}

.cards_games_list .card_game .card_image img{
  width: 100%;
  height: 22rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.card_game .card_content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_back .card_back_content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem .5rem 1rem;
  text-align: 
  justify;
  font-size: .8rem;
}
.card_back .card_back_categoria{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.card_back .card_back_categoria ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 0px !important;
}
.card_back .card_back_categoria ul li{
  padding: .3rem;
  font-size: .7rem;
  border-radius: .5rem;
  background-color: #3f42a8;
  color: #fff;
  border: solid #3f42a8;
  
}

.card_back .card_back_confir{
  width: 90%;
  height: 2.5rem;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCIDVEZil-H30XvIaLz3x2Pp3ua7L53AOAihDPxjOwu2fg-WNq7zH6U6BbgA3NXVldZMs&usqp=CAU');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 90%;
  border-radius: .5rem;
  transition: filter 0.5s ease, transform 0.5s ease
}
.card_back .card_back_confir a{
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  color: #FFFF;
  backdrop-filter: blur(10px);
  border-radius: .5rem;
}
.card_back .card_back_confir:hover{
  box-shadow: inset 0 0 10px rgba(255,255,255,1);
  transform: scale(1.05);
}


.card_back .card_back_persons{
  width: 90%;
  padding: .5rem 0;
}

.card_back .card_back_persons ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left:  0px !important;
  margin-bottom: 0px !important;
}
.card_back .card_back_persons ul li{
  width: 3.5rem;
  padding: .3rem;
  font-size: .7rem;
  border-radius: .5rem;
  color: #fff;
}
.card_back .card_back_persons ul li a img{
  width: 100%;
}




.card_game .card_content button{
  margin: .5rem 0;
  border: 0;
  background-color: inherit;
  color: #000;
}
.card_game .card_content button:hover{
  cursor: pointer;
  color: #fd9833;
}

.card_back .card_back_btn button{
  margin: 1rem 0;
  border: 0;
  background-color: inherit;
  color: #000;
}
.card_back .card_back_btn button:hover{
  cursor: pointer;
  color: #fd9833;
}
.card_game .card_content a span{
  font-size: 1rem;
  padding: 0rem .625rem;
  display: flex;
  flex-direction: row;
}
.card_back .card_back_btn span{
  font-size: 1rem;
  padding: 0rem .625rem;
  display: flex;
  flex-direction: row;
}
.card_game .card_content a span i{
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: .525rem;
}
.card_back .card_back_btn span i{
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: .525rem;
}

.card_game .card_content ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0px !important;
  margin-bottom: 0px !important;
}
.card_game .card_content li{
  padding: 0 .625rem;
}
.card_game .card_content li i{
  font-size: 1.3rem;
}

.card_game .card_price{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_game .card_price input{
  margin-top: 1rem;
  width: 8rem;
  background-color: inherit;
  border: solid #3f42a8;
}
.card_game .card_price input:hover{
  background-color: #3f42a8;
  color: #FFFF;
}

.card_game .card_price span{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.card_game .card_price img{
  width: 3rem;
  height: 20%;
  padding: 0 .625rem;
}
.card_game .card_price p{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}


/*  Login   */

.main_login .login_container{
  width: 40%;
  height: calc(100vh - 4rem);
  backdrop-filter: blur(5px);
  /*background-color: #fff;*/
  border-radius: .5rem;
  box-shadow: #3f42a8 10px 7px 50px -8px;
}
.login_container .login_title{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 1.2rem;
  padding-top: 2rem;
}
.login_container .login_form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 1.2rem;
}
.login_container .login_form form{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.login_container .login_form form input{
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border: solid #fff;
  background-color: inherit;
  color: #fff;
}

.login_container .login_form form input[type="submit"]{
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  border: solid #3f42a8;
  background-color: inherit;
  color: #fff;
}
.login_container .login_form form input[type="submit"]:hover{
  cursor: pointer;
  background-color: #3f42a8;
  color: #fff;
}





@media screen and (min-width: 1280px){
  .games_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards_games_list{
    max-width: 1280px;
  }
  .games_list .games_add_game{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /*display: none;*/
  }
}


@media screen and (max-width: 480px){
  .header-bar .header_accont .accont_popver_items_hiden{
      position: relative;
      right: 2.6rem;
  }
  .main_container h1{
    font-size: 3rem;
  }
  .games_list .games_add_game{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .cards_games_list .card_back {
    position: absolute;
    top: 5.8rem;
  }
}

@media screen and (max-width: 320px){
  .header-bar{
    font-size: .85rem;
  }

  .header_socials .socials li a svg{
    width: 26px !important;
  }

  .header_accont #btn_mobile i{
    font-size: 1.4rem;
    margin-top: .5rem;
  }
  main .main_container {
    width: 100%;
    height: 100vh;
    padding: 1rem;
}
  .main_container h1{
    padding: .5rem;
  }
  .games_list .games_add_game{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

}
 